.main-chat
  .main-chat__header
    .main-chat__header--group
      =  @group.name
      
      .main-chat__header--group-member
        Members:&nbsp
        - @group.users.each do |user|
          .member
            = user.name 
            
    .main-chat__header--edit
      = link_to edit_group_path(@group)  do
        Edit

  .messages
    = render @messages

  .main-chat__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main-chat__footer--postform-msg', placeholder: 'type a message'
      = f.label :image, class: 'input-box__image' do
        = icon('fas', 'image')
        = f.file_field :image, class: 'input-box__selection'
      = f.submit 'Send', class: 'main-chat__footer--sendbtn'
