.side-bar
  .side-bar__header
    .side-bar__header--name
      = current_user.name
    .side-bar__header--edit
      .side-bar__header--edit-pen
        = link_to new_group_path do
          = icon('far', 'edit')
      .side-bar__header--edit-gear
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog') 
        
  .side-bar__group 
    - current_user.groups.each do |inoue|
      .side-bar__group--name 
        = link_to group_messages_path(inoue) do
          = inoue.name
      .side-bar__group--message
        = inoue.show_last_message 

   

